/* style.css */

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
}

.header {
    background-color: #333;
    width: 100%;
    height: 4vh;
    display: flex;
}


#currentImage {
    max-width: 100vh;
    max-height: 100vh;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 96vh;
    background-color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: double;
    text-align: center;
}

.clear-image {
    background-color: red;
}
.change-image {
    background-color: yellowgreen;
}
.save-image {
    background-color: green;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    text-align: center;
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
}

#menuHeader {
    height: 4vh;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuHeader h3 {
    color: #fff;
    padding-right: 15%;

}

#imageHeader {
    height: 4vh;
    width: 100%;
    flex: 1;
}


/* Pop up styling */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

.popup h2 {
    color: white;
}

.popup p {
    color: white;
}

.popup span {
    color: white;
}


.close-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button {
    background-color: transparent;
    color: white;
    padding: 0px;
    font-size: 18px;
    cursor: pointer;
}

.orientation-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.orientation-button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #444;
    color: white;
    cursor: pointer;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.input-group {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
}

.parameter-input {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.input-group select {
    width: 70%;
}








