<!DOCTYPE html>
<html>
<head>
  <title>Image Manipulation</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="static/js/script.js"></script>
</head>
<body>
  <div class="header">
    <div id="menuHeader">
        <h3>Operations</h3>
    </div>
    <div id="imageHeader">

    </div>
  </div>

  <div class="wrapper">


    <div class="sidebar">
      <button onclick="displayInfoHandler()">Display Details</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button>Button 4</button>
      <button>Button 5</button>
      <button>Button 6</button>
      <button>Button 7</button>    
      <button>Button 8</button>
      <button>Button 9</button>
      <button>Button 10</button>
      <button>Button 11</button>
      <button>Button 12</button>
  
  
      <div class="sidebar-buttons">
        <button class="change-image">Change Image</button>
        <button class="save-image">Save Image</button>
        <button class="clear-image">Clear Image</button>
      </div>

    </div>
      
    <div class="main-content">
      <img src="../static/img/image.jpg" id="currentImage" alt="Image">
    </div>


  </div>
  



</body>
</html>
