<!DOCTYPE html>
<html>
<head>
  <title>Image Manipulation</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="static/js/script.js"></script>
</head>
<body>
  <div class="header">
    <div id="menuHeader">
        <h3>Operations</h3>
    </div>
    <div id="imageHeader">

    </div>
  </div>

  <div class="wrapper">


    <div class="sidebar">
      <button class="operation-button" id="displayInfoButton">Display Details</button>
      <button class="operation-button" id="cropButton">Crop</button>
      <button class="operation-button" id="flipButton">Flip</button>
      <button class="operation-button" id="scaleButton" >Scale</button>
      <button class="operation-button" id="rotateButton">Rotate</button>
      <button class="operation-button" id="linearMapButton">Linear Gray Level Map</button>
      <button class="operation-button" id="powerLevelMapButton">Power-law Map</button>
      <button class="operation-button" id="calculateHistogramButton">Calculate Histogram</button>    
      <button class="operation-button" id="equalizeHistogramButton">Histogram Equalization</button>
      <button class="operation-button" id="convoluteButton">Convolute</button>
      <button class="operation-button" id="nonLinearFilteringButton">Non-linear Filter</button>
  
  
      <div class="sidebar-buttons">
        <button class="change-image">Change Image</button>
        <button class="save-image">Save Image</button>
        <button class="clear-image">Clear Image</button>
      </div>

    </div>
    
    <div class="popup-container" id="displayInfoPopupContainer">
      <div class="popup" id="displayInfoPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Image Information</h2>
        <p>Image size: <span id="imageSizePlaceholder"></span></p>
        <p>Number of pixels: <span id="numPixelsPlaceholder"></span></p>
        <p>Image type: <span id="imageTypePlaceholder"></span></p>
        <p>Color: <span id="colorPlaceholder"></span></p>
      </div>
    </div>    


    <div class="popup-container" id="cropPopupContainer">
      <div class="popup" id="cropPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Crop the image</h2>
        <p>This is some text in my pop-up.</p>
      </div>
    </div>    


    <div class="popup-container" id="flipPopupContainer">
      <div class="popup" id="flipPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Flip the image</h2>
        
        <div class="orientation-button-container">
          <button class="orientation-button" id="verticalButton" onclick="flipHandler('vertical')" >Vertical</button>
          <button class="orientation-button" id="horizontalButton" onclick="flipHandler('horizontal')">Horizontal</button>
        </div>

      </div>
    </div>


    <div class="popup-container" id="scalePopupContainer">
      <div class="popup" id="scalePopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Scale the image</h2>


        <form id="dimensionsForm" onsubmit="scaleHandler(event)">
          <div class="input-container">
              <div class="input-group">
                <label for="outputHeight">Output Height:</label>
                <input type="text" id="outputHeight" name="outputHeight" class="parameter-input">
              </div>
              
              <div class="input-group">
                <label for="outputWidth">Output Width:</label>
                <input type="text" id="outputWidth" name="outputWidth" class="parameter-input">
              </div>
          </div>
          <button class="orientation-button" type="submit">Submit</button>
        </form>
      
      </div>
    </div>


    <div class="popup-container" id="rotatePopupContainer">
      <div class="popup" id="rotatePopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Rotate the image</h2>

        <form id="rotationForm" onsubmit="rotateHandler(event)">
          <div class="input-container">
              <div class="input-group">
                <label for="rotationAngle">Rotation Angle:</label>
                <input type="text" id="rotationAngle" name="rotationAngle" class="parameter-input">
              </div>
          </div>
          <button class="orientation-button" type="submit">Submit</button>
        </form>
      
      </div>
    </div>


    <div class="popup-container" id="linearMapPopupContainer">
      <div class="popup" id="linearMapPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Linear Gray Level Map</h2>
        <form id="linearMapForm" onsubmit="linearMapHandler(event)">
          <div class="input-container">
              <div class="input-group">
                <label for="aCoefficient">a:</label>
                <input type="text" id="aCoefficient" name="aCoefficient" class="parameter-input">
              </div>
              
              <div class="input-group">
                <label for="bCoefficient">b:</label>
                <input type="text" id="bCoefficient" name="bCoefficient" class="parameter-input">
              </div>
          </div>
          <button class="orientation-button" type="submit">Submit</button>
        </form>
      </div>
    </div>


    <div class="popup-container" id="powerLevelMapPopupContainer">
      <div class="popup" id="powerLevelMapPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Power-law Map</h2>

        <form id="powerLevelMapForm" onsubmit="powerLawMapHandler(event)">
          <div class="input-container">
              <div class="input-group">
                <label for="cCoefficient">c:</label>
                <input type="text" id="cCoefficient" name="cCoefficient" class="parameter-input">
              </div>
              
              <div class="input-group">
                <label for="gamma">Γ:</label>
                <input type="text" id="gamma" name="gamma" class="parameter-input">
              </div>
          </div>
          <button class="orientation-button" type="submit">Submit</button>
        </form>
      
      </div>
    </div>


    <div class="popup-container" id="calculateHistogramPopupContainer">
      <div class="popup" id="calculateHistogramPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Calculate image histogram</h2>
        <p>This is some text in my pop-up.</p>
      </div>
    </div>


    <div class="popup-container" id="equalizeHIstogramPopupContainer">
      <div class="popup" id="equalizeHistogramPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Perform histogram normalization</h2>
        <p>This is some text in my pop-up.</p>
      </div>
    </div>


    <div class="popup-container" id="convolutePopupContainer">
      <div class="popup" id="convolutePopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Perform convolution on image</h2>
        
        <form id="rotationForm" onsubmit="convolutionHandler(event)">
          <div class="input-container">
              <div class="input-group">
                <label for="kernel">Kernel (form: [a,b,c;d,e,f;g,h,i]):</label>
                <input type="text" id="kernel" name="kernel" class="parameter-input">
              </div>
          </div>
          <button class="orientation-button" type="submit">Submit</button>
        </form>

      </div>
    </div>
    

    <div class="popup-container" id="nonLinearFilteringPopupContainer">
      <div class="popup" id="nonLinearFilteringPopup">
        <div class="close-button-container">
          <button class="close-button">X</button>
        </div>
        <h2>Apply non-linear filtering on image</h2>
        <form id="powerLevelMapForm" onsubmit="nonLinearFilterHandler(event)">
          <div class="input-container">
              <div class="input-group">
                <label for="typeSelect">Window Size:</label>
                <select id="typeSelect" name="typeSelect" class="parameter-input">
                  <option value="min">min</option>
                  <option value="max">max</option>
                  <option value="median">median</option>
               </select>
              </div>
              
              <div class="input-group">
                <label for="windowSize">Window Size of form (a,b):</label>
                <input type="text" id="windowSize" name="windowSize" class="parameter-input">
              </div>
              
          </div>
          <button class="orientation-button" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="main-content">
      {% if img_name %}
      <img src="{{ url_for('static', filename='img/' + img_name) }}" id="currentImage" alt="Image1">
      {% else %}
      <p>No image found.</p>
      {% endif %}
    </div>

  </div>

</body>
</html>
